form{
    margin: 8rem;
    padding: 1rem;
    background-color: darkgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

input{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

p{
    font-size: 5rem;
}

a{
    color: aqua;
}

.signup,.login{
    background-color: aqua;
    color:red;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 4rem;
    border-color: aqua;
}